<div class="block">
	{if isset( $dataRetrievalTimer ) }
		Data retrievial took about {$dataRetrievalTimer->getTime()} s.<br />
	{/if}	
	Template rendering took about {$renderTimer->getTime()} s.<br />
	Overall script execution took about {$scriptTimer->getTime()} s.
</div>
</div>
