<div class="menu">
	<img src="logos/logo.png" />
	<div class="menuitem"><a class="menuitem" href="index.php">Overview</a></div>
	<div class="menuitem"><a class="menuitem" href="config.php">Configuration</a></div>
	<div class="menuitem"><a class="menuitem" href="about.php">About</a></div>
</div>
<div class="content">
<div class="block">
	<h1>Cluster Overview</h1>
</div>
