/* A little more modern stylesheet */
body {
	background-color: #B0C4DE;
}

.error { color: red;
	background-color: white;
	border-width: thin;
	border-style: solid;
	border-color: red;
	padding: 1em;
	margin: 1em; }

.warning { color: red;
	}

.block { background-color: #1E90FF;
	border-width: thin;
	border-style: solid;
	border-color: black;
	text-align: center;
	}

h1 {
	text-align: center;
}

.menu { float: left;
	text-align: center;
	width: 15em;
}

.content {
	margin-left: 15em;
}

.graph {
	margin-top: 1em;
	margin-right: 1em;
}

.menuitem { color: black;
	background-color: #1E90FF;
	border-width: thin;
	border-style: solid;
	border-color: black;
	text-align: center;
	margin: 1em;
	float: none; }
	
a.menuitem {
	text-decoration: none;
	border-style: none;
}


/* everything for the nodelist */

/* use as much space as possible */
  ol.nodelist
  {
  	margin-top: 0em;
    width: 100%;
  }

  /* float & allow room for the widest item */
  ol.nodelist li.nodelist
  {
    float: left;
    width: 18em;
  }

  /* stop the float */
  br.nodelist
  {
    clear: left;
  }

  /* separate the list from subsequent markup */
  div.nodelist
  {
	background-color: white;  	
  	margin-top: 1em;
    margin-bottom: 1em;
  }
  
 /* everything for plugin display */
 
 /* make sure tables are seperated somewhat from everything else */
table.plugin {
 	margin: 1em;
}

/* make sure the labels are seperated somewhat from the content */
td.pluginlabel {
	padding-right: 1em;	
	vertical-align: top;
}

form.config { background-color: white;
	border-width: thin;
	border-style: solid;
	border-color: black;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em; }
	
.configDescription {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

label.config {
	margin-right: 1em;
}

fieldset.config {
	margin-bottom: 1em;
}

